<h3>Privacy</h3>
De Vaste Commissie van de Lokale Politie, binnen de Federale Overheidsdienst (FOD) Binnenlandse Zaken, respecteert de persoonlijke levenssfeer van de gebruikers. Ofschoon de meeste informatie op deze site beschikbaar is zonder dat persoonlijke gegevens moeten worden verstrekt is het mogelijk dat de gebruiker om persoonlijke informatie wordt gevraagd. In dit geval worden de gegevens behandeld in overeenstemming met de bepalingen van de wet van 8 december 1992 betreffende de verwerking van persoonsgegevens.
Concreet betekent dit onder meer dat :
<p></p>
<li>De persoonlijke gegevens enkel worden ingezameld en verwerkt met het doel om de door u gevraagde informatie te verstrekken.
<li>De persoonlijke gegevens niet zullen worden bekendgemaakt aan derden noch voor direct marketing doeleinden zullen worden aangewend.
<li>U steeds toegang heeft tot uw persoonlijke gegevens en deze op juistheid kan controleren en u onjuistheden in verband met uw persoonlijke gegevens steeds kan doen verbeteren. Hiertoe kan u contact opnemen met de beheerder van de site.
<li>De Algemene Directie Externe Communicatie zich ertoe verbindt de best mogelijke veiligheidsmaatregelen te treffen om te voorkomen dat derden misbruik zouden maken van de door u bekendgemaakte persoonlijke gegevens.
<p></p>
<h3>Privacy</h3>
<p></p>
La Commission Permanente de la Police Locale, au sein du Service public fédéral (SPF) du  Ministre de l'Intérieur respecte la vie privée des utilisateurs. Bien que la plupart des informations soient disponibles sur ce site sans devoir fournir des données à caractère personnel, il est possible que des informations personnelles soient demandées à l’utilisateur.
Dans ce cas, les données sont traitées conformément aux dispositions de la loi du 8 décembre 1992 relative au traitement de données à caractère personnel.
Concrètement, cela signifie notamment que :
<p></p>
<li>les données à caractère personnel ne peuvent être recueillies et traitées que dans le but de répondre à la demande d’information que vous avez introduite ;
<li>les données à caractère personnel ne seront pas communiquées à des tiers ni utilisées à des fins commerciales ;
<li>vous avez le droit de consulter vos données personnelles et que vous pouvez vérifier leur exactitude et faire corriger les éventuelles erreurs les concernant. A cet effet, vous pouvez prendre contact avec le gestionnaire du site.
<li>La Direction générale de la Communication Externe s’engage à prendre les meilleures mesures de sécurité afin d’éviter que des tiers n’abusent des données à caractère personnel que vous avez communiquées.
<p></p>