/* police */
a:link, a:visited {
	color: #006587;
}

a:hover {
	color: #e75a3B;
}

#pillmenu a:hover {
  color: #e75a3B;
}

#pillmenu a#active_menu-nav {
  background: url(../images/police/mw_menu_active_bg.png)  0 0 repeat-x;
  color: #fff;
}

#pillmenu a#active_menu-nav:hover {
  color: #fff;
}

h3, .componentheading, table.moduletable th {
  color: #412052;
}

div.module_menu {
	background: url(../images/police/mw_box_br.png) 100% 100% no-repeat;
}

div.module_menu div {
	background: url(../images/police/mw_box_bl.png) 0 100% no-repeat;
}

div.module_menu div div {
	background: url(../images/police/mw_box_tr.png) 100% 0 no-repeat;
}

div.module_menu div div div {
	background: url(../images/police/mw_box_tl.png) 0 0 no-repeat;
}

/* 5396 : styling meldingen table */
table.meldingen {
	border: 1px solid #CDCDCD;
   	border-collapse: collapse;
}
     
table.meldingen td {
  	font-family: Arial;
  	font-size: 12px;
   	font-weight: normal;
   	color: #333;
   	margin: 0;
    padding: 5px;
}