<h1>Willkommen bei AllVideos Reloaded!</h1>
<h2>Kurzanleitung</h2>
<p>Bevor lokale Medien eingebunden werden können, die Medien-Verwaltung von Joomla verwenden um zwei
Ordener namens <b>audio</b> und <b>videos</b> im Ordner images/stories anzulegen.
Anschliessend die Medien dorthinein hochladen. Eventuell müssen hierzu in Joomla's globalen Einstellungen zusätzliche
Dateitypen für den Upload freigegeben werden.</p>
<p>Beim Bearbeiten von Artikeln, kann nun der neue <b>AVR Media</b>-Button unterhalb des Editor-Fensters
dazu benutzt werden, Medien einzubetten. Um <b>Remote</b>-Videos von einem Video-Sharing Provider einzubetten,
einfach in dem sich öffnenden Dialog, die URL der Seite (des Provider) welche gerade das Video anzeigt, in das erste
Feld einfügen. Danach mittels <kbd>Wagenrücklauf</kbd> die automatische Erkennung starten.
Falls eine unterstützte URL erkannt wurde,
werden darauf hin alle anderen Felder des Dialog automatisch ausgefüllt. Im untersten Feld steht dann das nötige
Medien-Tag, welches mit einem Klick auf Einfügen dann im Artikel-Editor an der aktuellen Cursor-Position eingefügt wird.
Vor dem Einfügen kann man das Tag noch bearbeiten um eventuelle spezielle Attribute anzugeben.</p>
<p>Um lokale Medien einzubetten, benutzt man den selben <b>AVR Media</b>-Button, wählt aber anschliessend den Reiter
<b>Lokale Medien</b>. In diesem Teil des Dialogs kann man dan in einer Combo-Box die gewünschte Datei aus den vorher
hochgeladenen Medien auswählen.</p>
<p>Um weitere Informationen zu erhalten, <b>bitte</b> zuerst die beiliegende
<b><a href="#" onclick="window.open('../plugins/content/avreloaded/doc/de-de.doc0.html',
    'avrdoc',
    'status=no,toolbar=no,scrollbars=yes,titlebar=yes,menubar=no,resizable=yes,width=800,height=600,directories=no,location=no');"
    >Dokumentation</a></b> lesen. Obwohl AllVideos Reloaded versucht den Einstieg einfach zu machen, so geht es doch beim
Thema "Einbetten von Multimedia" um eine recht komplexe Materie. Ohne das Studium der Dokumentation bleiben Sie bei den fortgeschrittenen Funktionen mit Sicherheit auf der Strecke! Die Dokumentation kann auch später noch jederzeit entweder in der Beschreibung des Plugins <b>Content - AllVideos Reloaded</b>, oder durch Klicken des <b>Hilfe</b>-Buttons in den einzelnen Komponenten-Ansichten aufgerufen werden.<br />Auf der
<b><a href="http://allvideos.fritz-elfert.de" target="_blank">Demo Site</a></b> finden sich zusätzlich nützliche Beispiele</p>
<p>Falls Sie dennoch nicht vorankommen und Hilfe benötigen, können Sie <b><a href="http://forum.joomla.org/index.php/topic,245658.0.html"
        target="_blank">diesen</a></b> Thread im Internationalen Joomla-Forum (Englisch) benutzen, oder im <b><a href="http://www.joomlaportal.de/joomla-erweiterungen-komponenten.html" target="_blank">deutschen Joomla Forum</a></b> Fragen stellen. Beide Foren besuche ich regelmässig.<br />
Falls Sie Ihren Lieblings-Sharing Provider noch vermissen oder etwa eine coole Idee zur Erweiterung der Funktionalität haben, dann
erstellen Sie doch einfach einen Feature-Request im <b><a href="http://joomlacode.org/gf/project/allvideos15/tracker/"
        target="_blank">Projekt Tracker</a></b>.</p>
<p>Fröhliches Streamen!</p>
