<h1>Welcome to AllVideos Reloaded!</h1>
<h2>Quickstart</h2>
<p>Before inserting local media, first use Joomla's media manager to create two
folders named <b>audio</b> and <b>videos</b> in your images/stories folder.
Then, use Joomla's media manager to upload your media there. If this does not work initially, you might
have to change Joomla's global settings in order to allow upload of other files than just images.</p>
<p>While editing your content, use the new <b>AVR Media</b> button at the bottom
of the editor window for inserting media. To embed <b>remote</b> videos from a video sharing site,
in the dialog that opens, simply paste the URL of the page displaying the video into the
first field, then hit <kbd>RETURN</kbd> to start the auto-recognition. If the URL is supported, the rest of the form will be
completed automatically. The last field shows the media tag, which can be edited to add custom attributes. Finally, hit the
Insert button and the content of this field will be inserted at the current cursor position in the editor.</p>
<p>To insert local media, use the same <b>AVR Media</b> button, but select the <b>Local Media</b> tab.
There, you can select one of the previously uploaded media files. After selection of a media file, the
rest of the fields should be filled automatically.</p>
<p>For more information - especially before using the advanced features of the component views -, <b>please</b>
read the included <b><a href="#" onclick="window.open('../plugins/content/avreloaded/doc/en-gb.doc0.html',
    'avrdoc',
    'status=no,toolbar=no,scrollbars=yes,titlebar=yes,menubar=no,resizable=yes,width=800,height=600,directories=no,location=no');"
    >documentation</a></b>. Even though AllVideos Reloaded is trying hard to make it easy for you, embedding
multi media is a complex matter. For getting the most out of your media, reading documentation is a must.
You can invoke the documentation at any time in the plugin description of the <b>Content - AllVideos Reloaded</b>
plugin or by clicking the <b>Help</b> button in one of the <b>AllVideos Reloaded</b> component views.<br />The
<b><a href="http://allvideos.fritz-elfert.de" target="_blank">Demo site</a></b> provides a collection of useful
examples too.</p>
<p>If you need help, you can get it in <b><a href="http://forum.joomla.org/index.php/topic,245658.0.html"
        target="_blank">this</a></b> discussion thread at the international Joomla forums.<br />
If your favorite video sharing provider is missing or you got an idea about some cool new feature, submit a
feature request at the <b><a href="http://joomlacode.org/gf/project/allvideos15/tracker/"
        target="_blank">Project Tracker</a></b>.</p>
<p>Happy Streaming!</p>
