<h1>Welkom bij AllVideos Reloaded!</h1>
<h2>Snelstart</h2>
<p>Voordat je lokale media invoegd, gebruik eerst Joomla's media manager om twee folders
aan te maken genaamd <b>audio</b> en <b>videos</b> in je images/stories map.
Gebruik daarna Joomla's media manager om je media daar te uploaden. Indien dit niet goed werkt, dien je mogelijk
Joomla's globale instellingen te wijzigen om het uploaden van andere bestanden dan alleen afbeeldingen toe te staan.</p>
<p>Tijdens het wijzigen van je content, gebruik de nieuwe <b>AVR Media</b> knop aan de onderzijde
van het editor scherm om media in te voegen. Voor embedded <b>Verafgelegen</b> videos van een video sharing site,
in de dialoog die opent, simpel plak de URL van de pagina die de video afbeeld in het eerste
veld, klik daarna op <kbd>RETURN</kbd> om de automatische herkenning te starten. Indien de URL word ondersteund, zal de rest van het formulier
automatisch worden ingevuld. Het laatste veld laat de media tag zien, die gewijzigd kan worden om attributen toe te voegen. Als laatste, klik de
Invoegen knop en de content van dit veld zal worden ingevoegd op de huidige cursor positie in de editor.</p>
<p>Om lokale media in te voegen, gebruik dezelfde <b>AVR Media</b> knop, maar selecteer de <b>Lokale Media</b> tab.
Daar kun je een van de eerdere geuploade media bestanden selecteren. Na de selectie van een media file, zullen de
rest van de velden automatisch worden ingevuld.</p>
<p>Voor meer informatie - met name voor je gebruik gaat maken van de geavanceerde mogelijkheden van het component bekijk -, <b>a.u.b.</b>
lees de bijgevoegde <b><a href="#" onclick="window.open('../plugins/content/avreloaded/doc/nl-nl.doc0.html',
    'avrdoc',
    'status=no,toolbar=no,scrollbars=yes,titlebar=yes,menubar=no,resizable=yes,width=800,height=600,directories=no,location=no');"
    >documentatie</a></b>. AllVideos Reloaded tracht het zo makkelijk als mogelijk voor je te maken, embedden
van multi media is echter een complexe materie. Om het beste uit je media te kunnen halen, is het lezen van de documentatie een vereiste.
Je kunt de documentatie op ieder moment aanroepen in de plugin omschrijving van de <b>Content - AllVideos Reloaded</b>
plugin of door te klikken op de <b>Help</b> knop in een van de <b>AllVideos Reloaded</b> component adviezen.<br />De
<b><a href="http://allvideos.fritz-elfert.de" target="_blank">Demo site</a></b> verstrekt eveneens een collectie van
handige voorbeelden.</p>
<p>Indien je hulp nodig hebt, kun je dat krijgen in <b><a href="http://forum.joomla.org/index.php/topic,245658.0.html"
        target="_blank">deze</a></b> discussie draad op de internationale Joomla forums.<br />
Indien je je favoriete video sharing aanbieder mist of je hebt een idee over een nieuwe mogelijkheden, voeg dan een
aanvraag toe op de <b><a href="http://joomlacode.org/gf/project/allvideos15/tracker/"
        target="_blank">Project Tracker</a></b>.</p>
<p>Fijne Streaming!</p>
