/* Phoca Gallery - http://www.phoca.cz/ */
.phocagallery-box-file-first {
	overflow: hidden;
	display: table;
	vertical-align:middle;
	position: relative;
}
.phocagallery-box-file-second {
	display: table-cell;
	vertical-align: middle;
	position: absolute;
	top: 50%;
	left:50%;
}
.phocagallery-box-file-third {
  position: relative; 
  top: -50%;
  left:-50%;
  padding-top:3px;
}
#description-msg {
	bottom: 5px;
}


#phocagallery div.phocagallery-box-file-first img.pg-img-ovr1 {
	position: absolute;
	top: -6px;
	left: -8px;
}

#phocagallery div.phocagallery-box-file-first img.pg-img-ovr2 {
	position: absolute;
	top: -6px;
	left: 24px;
}