html {
  height: 100%;
  margin-bottom: 0px;
}

form {
  margin: 0;
  padding: 0;
}

img,table {
	border: none;
}

body {
	font-family: Tahoma, Verdana, Arial, sans-serif;
	line-height: 1.3em;
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #666;
	background: #fff;
}

body.contentpane {
	background: #FEFEFE;
}

p {
	margin-top: 0;
	margin-bottom: 5px;
	text-align: justify;
}

a:link, a:visited {
	text-decoration: underline;
	font-weight: 400;
	color: #999;
	outline: none;
}

a:hover {
	text-decoration: none;
	font-weight: 400;
}

input  {
	color: #ccc;
	padding: 2px;
	outline: none;
	margin: 0;
}

input:focus {
	outline: none;
}

button {
	color: #fff;
	font-size: 11px;
	border: none;
	background: #696969;
	cursor: pointer;
}

.inputbox {
	border: 1px solid #cfcfcf;
	color: #666;
	padding: 2px;
	background: #fff;
}

.inputbox:hover {
	
}

#modlgn_remember.inputbox  {
	background: none;
	border: none;
	width: auto;
}

input.button, .validate  {
	color: #fff;
	font-size: 11px;
	cursor: pointer;
	font-weight: 700;
	border: none;
	background: url(../images/but.png) repeat-x top left;
	cursor: pointer;
	padding: 2px 6px;
}

input.button:hover, .validate:hover  {
	color: #5ea1d9;
}

#search {
	float: right;
	width: 222px;
	height: 20px;
	margin: 7px 0 0;
}

#search .search .inputbox {
	float: left;
	background: url(../images/search.png) repeat-x top left;
	border: 1px solid #002647;
	color: #002647;
	font-size: 11px;
	line-height: 14px;
	width: 150px;
	height: 16px;
	padding: 2px;
}

#search .search input.button {
	float: left;
	background: none;
	border: none;
	color: #f4f4f4;
	cursor: pointer;
	font-size: 11px;
	width: 60px;
	height: 24px;
	padding: 2px 0 7px;
	font-weight: 700;
	line-height: 16px;
}

#search .search input.button:hover {
	color: #5ea1d9;
}

/*****************************************/
/*** Template specific layout elements ***/
/*****************************************/

#page_bg {
	background: #f7f7f7 url(../images/bg.png) repeat-x center top;
}

#container {
	width: 980px;
	margin: 0 auto;
}

#title h1 {
	margin: 0;
	padding: 5px 0 5px 20px;
	color: #0d5385;
}

#title h1 a, #title h1 a:link, #title h1 a:hover {
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 24px;
	line-height: normal;
	color: #0d5385;
	text-decoration: none;
	outline: none;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}

#menu {
	background: url(../images/topmenu.png) no-repeat top left;	
	height: 34px;
	margin: 0 0 10px;
}

#pillmenu {
	float: left;
	width: 700px;
}

#pillmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 34px;
	width: 700px;
	overflow: hidden;
}

#pillmenu li {
	float: left;
	display: inline;
	height: 34px;
	padding: 0 8px;
}

#pillmenu li a {
	font-size: 11px;
	line-height: 26px;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	height: 34px;
	line-height: 33px;
	padding: 4px 6px;
}

#pillmenu li a:hover, #pillmenu li a#active_menu-nav  {
	background: #fff;
	color: #0a3c64;
}

#popular {
	float: left;
	width: 220px;
	margin: 0 0 10px;
	background: url(../images/pop_middle.png) repeat-y top left;
}

#popular div {
	background: url(../images/pop_top.png) no-repeat top left;
	padding: 2px 0 0 0;
}

#popular div div {
	height: 120px;
	overflow: hidden;
	padding: 0 2px;
	background: url(../images/pop_bottom.png) no-repeat bottom left;
}

#popular div div div {
	padding: 0;
	width: auto;
}

#popular ul {
	text-align: left;
	margin: 0;
	padding: 1px 10px;
	list-style: none;
	overflow: hidden;
	height: 80px;
}

#popular ul li a {
	text-decoration: none;
	color: #666;
	background: url(../images/popular_row.gif) no-repeat center left;
	padding: 0 0 0 10px;
	height: 16px;
	line-height: 16px;
}

#popular ul li a:hover {
	color: #999;
	text-decoration: underline;
}

#popular div div div div h3, #newsflash h3 {
	background: url(../images/other_h3.png) repeat-x top left;
	height: 26px;
	line-height: 22px;
	font-weight: 700;
	color: #fff;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 11px;
	padding: 0 10px;
	width: auto;
}

#newsflash {
	float: left;
	margin: 0 10px 0 0;
	width: 498px;
	background: url(../images/news_middle.png) repeat-y top left;
}

#newsflash div {
	background: url(../images/news_top.png) no-repeat top left;
	padding: 2px 0 0 0;
}

#newsflash div div {
	margin: 0;
	padding: 0 2px;
	background: url(../images/news_bottom.png) no-repeat bottom left;
	height: 120px;
	overflow: hidden;
}

#newsflash div div div {
	width: auto;
	padding: 0;
}

#newsflash div div div div table.contentpaneopen {
	margin: 10px;
	text-align: left;
	line-height: normal;
}

#newsflash div div div div table.contentpaneopen a {
	color: #666;
}

#newsflash div div div div table.contentpaneopen tr td p {
	overflow: hidden;
	height: 60px;
}

#holder {
	float: left;
	display: inline;
	background: #DDD;
	padding: 1px;
	width: 748px;
}

#holder1 {
	background: #FFF;
	width: 728px;
	padding: 10px;
}

#leftcolumn, #rightcolumn {
	background: url(../images/column_middle.png) repeat-y top left;
	float: left;
	display: inline;
	width: 220px;
	margin: 0 10px 0 0;
}

#rightcolumn {
	margin: 0 0 0 10px;
}

.column_top {
	background: url(../images/column_top.png) no-repeat top left;
}

.column_bottom{
	background: url(../images/column_bottom.png) no-repeat bottom left;
	padding: 10px;
	width: 200px;
}

div#maincolumn {
	float: left;
	width: 498px;
}

div#maincolumn_full {
	float: left;
	width: 728px;
}

div.nopad {
	overflow: hidden;
	padding: 0;
}

div.nopad ul {
	clear: both;
}

td.middle_pad {
	width: 20px;
}

#banner_l {
	text-align: left;
	padding: 0 0 0 24px;
}

#footer {
	width: 980px;
	height: 60px;
	text-align: center;
	font-size: 11px;
	padding: 20px 0 0 0;
}

#footer a {
	color: #093356;
	font-size: 11px;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

a.footer123:link, a.footer123:visited {
	color: #fefefe;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: none;
}
a.footer123:hover {
	color: #fefefe;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: none;
}
#f123 {
	text-align: right;
	width: 100%;
	margin: 0 auto;
	font-family: Tahoma, Arial, sans-serif;
}
.f123 {
	text-align: right;
	font-family: Tahoma, Arial, sans-serif;
	text-decoration: none;
}
.f123_bg {
	background:url(../images/123_bg.png);
	width:134px;
	height:30px;
	text-align:center;
	padding: 0 3px;
}
.f123_1 {
	display: block;
	font-size: 10px;
	font-family: Tahoma, Arial, sans-serif;
	color: #666;
	text-align: left;
	padding: 0 0 2px 4px;
}

a.link_123:link, a.link_123:visited {
	font-size: 15px;
	font-family: Tahoma, Verdana,Arial,Helvetica,sans-serif;
	color: #797979;
	text-decoration:none;
	font-weight: 700;
}
a.link_123:hover {
	font-size: 15px;
	font-family: Tahoma, Verdana,Arial,Helvetica,sans-serif;
	color: #797979;
	text-decoration:none;
	font-weight: 700;
}

/*****************************************/
/*** Joomla! specific content elements ***/
/*****************************************/

div.offline {
	background: #fffebb;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 1.2em;
	padding: 5px;
}

/* headers */
div.componentheading {
	height: 22px;
	padding: 10px 0 0 4px;
	color: #999;
}

table.blog {
	
}



h2, .contentheading {
	padding: 0;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	font-size: 11px;
	vertical-align: middle;
	color: #165383;
	text-align: left;
	font-weight: 700;
}

h2, a.contentheading {
	background: none;
	border: none;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

h4 {
	font-family: Tahoma, Arial, sans-serif;
	color: #333;
}

h3, .componentheading, table.moduletable th, legend {
	margin: 0;
	font-family: Tahoma, Arial, sans-serif;
	font-size: 14px;
	text-align: left;
	color: #738349;
	padding: 0;
}
/* small text */
.small {
	font-size: 10px;
	color: #999;
	font-weight: 700;
	text-align: left;
}

.modifydate {
	height: 20px;
	vertical-align: bottom;
	font-size: 10px;
	color: #444;
	text-align: right;
}

.createdate {
	vertical-align: top;
	font-size: 11px;
	color: #999;
	padding-bottom: 8px;
}

a.readon {
	float: right;
	background: url(../images/readon.png) no-repeat center left;
	line-height: normal;
	font-size: 11px;
	padding: 0 0 0 14px;
	color: #d62f28;
	text-transform: lowercase;
	text-decoration: none;
}

a.readon:hover {
	text-decoration: underline;
}

/* form validation */
.invalid { border-color: #ff0000; }
label.invalid { color: #ff0000; }


/** overlib **/

.ol-foreground {
	background-color: #f1f1f1;
	color: #333;
}

.ol-background {
	background-color: #f1f1f1;
	color: #333;
}

.ol-textfont {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 10px;
}

.ol-captionfont {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 12px;
	color: #f6f6f6;
	font-weight: 700;
}
.ol-captionfont a {
	background-color: #f1f1f1;
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

.ol-closefont {}

/* menu links */
a.mainlevel:link, a.mainlevel:visited {
	padding-left: 5px;
}

a.mainlevel:hover {

}

/* spacers */
span.article_separator {
	display: block;
	height: 20px;
}

.article_column {

}

.column_separator {
	
}

td.buttonheading {
	text-align: right;
	width: 0;
}

.clr {
	clear: both;
}

table.blog span.article_separator {
	display: block;
	height: 20px;
}

/* table of contents */
table.contenttoc {
  margin: 5px;
  padding: 5px;
  background: none;
}

table.contenttoc td {
  padding: 0 5px;
}


/* content tables */
td.sectiontableheader {
  color: #999;
  font-weight: 700;
  padding: 4px;
}

tr.sectiontableentry1 td {
	padding: 4px;
	background: #f4f4f4;
}

tr.sectiontableentry0 td,
tr.sectiontableentry2 td {
  padding: 4px;
}

td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  padding: 3px;
  color: #8e8e8e;
  font-size: 11px;
}


/* content styles */
.contentpaneopen, table.contentpane {
	margin: 0;
	padding: 0;
}

table.contentpane td{
	text-align: left;
}

table.contentpane td.contentdescription {
	width: 100%;
}

table.contentpane  {
	text-align: left;
	float: left;
	width: 100%;
	margin: 8px;
}

table.contentpane ul li a .category {
	color: #FF8800;
}

table.contentpane ul li {
	color: #666;
}

table.contentpaneopen {
	margin: 0 4px;
	border-collapse: collapse;
}

table.contentpaneopen li {
	margin-bottom: 5px;
}

table.contentpaneopen fieldset {
	border: 0;
	border-top: 1px solid #669933;
}

table.contentpaneopen h3 {
	margin-top: 25px;
}

table.contentpaneopen h4 {
	font-family: Tahoma, Arial, sans-serif;
	color: #669933;
}

.highlight {
	background-color: #fffebb;
}

/* module control elements */
table.user1user2 div.moduletable {
	margin-bottom: 0px;
}

div.moduletable, div.module {
  margin-bottom: 25px;
}

div.module_menu, div.module {
	margin: 0;
	padding: 0;
}

div.module_menu div, div.module, div.module_text div {

}

div.module_menu div div, div.module div div, div.module_text div div {
	margin: 0;
}

div.module_menu div div div, div.module div div div, div.module_text div div div {
	width: 188px;
	margin: 0 0 10px;
	text-align: left;
}

div.module div div div div {
	width: 160px;
}

div.module_menu div div div div, div.module div div div div, div.module_text div div div div {
	background: none;
}

div.module_text div div div div {
	text-align: left;
}

div.module_text div div div div.bannergroup_text {
	padding: 10px;
	width: 160px;
}

div.module_text div div div div.bannergroup_text div {
	width: auto;
	padding: 0 0 4px;
}

div.module div div div form {
	width: 160px;
	margin: 0 auto;
	text-align: center;
}

div.module_menu ul {
	list-style: none;
	padding: 0;
}

div.module_menu ul li{
	margin: 0;
	padding: 0;
}

div.module_menu ul li a:link, div.module_menu ul li a:visited {
	font-weight: 700;
	background: transparent url(../images/blue/bullet2.jpg) top left no-repeat;
	padding: 2px 0;
	line-height: 24px;
}

#leftcolumn div.module table ,#rightcolumn div.module table {
}

#leftcolumn div.module table td ,#rightcolumn div.module table td {
	padding: 0 6px 6px 0;
	vertical-align: middle;
}

#leftcolumn div.module table.poll {

}

#leftcolumn div.module table.poll td {
	text-align: left;
}

/* LEFT COL H3 */
#leftcolumn h3, #rightcolumn h3 { 	
	background: url(../images/h3.png) top left no-repeat;
	width: 180px;
	height: 27px;
	line-height: 27px;
	padding: 0 10px;
	color: #0d5284;
	font-size: 11px;
	text-align: left;
	font-weight: 700;
}

#leftcolumn .moduletable_menu, #leftcolumn .moduletable, #leftcolumn .moduletable_text, #leftcolumn .c, 
#rightcolumn .moduletable_menu, #rightcolumn .moduletable, #rightcolumn .moduletable_text, #rightcolumn .c {
	margin: 0 0 16px 0;
	padding: 0 0 8px 0;
}

#leftcolumn ul.menu, #rightcolumn ul.menu {
	width: 170px;
	margin: 0 auto;
	list-style: none;
	text-align: left;
}

#leftcolumn ul.menu li, #rightcolumn ul.menu li {
	margin: 0;
	padding: 0;
}

#leftcolumn ul.menu li:hover, #rightcolumn ul.menu li:hover {

}

#leftcolumn ul.menu li ul li, #rightcolumn ul.menu li ul li{
	border-bottom: none;
}

/*LEFT COL LINK*/
#leftcolumn ul.menu li a, #leftcolumn ul.menu li a:link,
#rightcolumn ul.menu li a, #rightcolumn ul.menu li a:link {
	font-weight: 400;
	font-size: 11px;
	line-height: 18px;
	height: 18px;
	padding: 0 0 0 10px;
	text-decoration: none;
	color: #8b8b8b;
	background: url(../images/menu_row.gif) center left no-repeat;
}

#leftcolumn ul.menu li a:hover, #rightcolumn ul.menu li a:hover {
	text-decoration: underline;
}

/*LEFT COL CURRENT LINK*/
#leftcolumn ul.menu li#current a, #leftcolumn ul.menu li#current a:link, 
#rightcolumn ul.menu li#current a, #rightcolumn ul.menu li#current a:link {
	padding: 0 0 0 10px;
	text-decoration: underline;
	background: url(../images/menu_row.gif) center left no-repeat;
}

#leftcolumn ul.menu li#current a:hover, #rightcolumn ul.menu li#current a:hover {
	
}

/*LEFT COL SUB LINK*/
#leftcolumn ul.menu li#current ul li a, #leftcolumn ul.menu li#current ul li a:link {
	font-weight: 400;
	font-size: 11px;
	line-height: 18px;
	height: 18px;
	padding: 0 0 0 20px;
	text-decoration: none;
	color: #8b8b8b;
	background: url(../images/submenu_row.gif) center left no-repeat;
}

#leftcolumn ul.menu li ul li#current a, #leftcolumn ul.menu li ul li#current a:link, #leftcolumn ul.menu li ul li#current a:visited, #leftcolumn ul.menu li ul li#current a:hover {
	padding: 0 0 0 20px;
	text-decoration: underline;
	background: url(../images/submenu_row.gif) center left no-repeat;
}

#leftcolumn ul.menu li.parent ul li a {
	font-size: 11px;
	font-weight: 400;
	line-height: 18px;
	height: 18px;
	padding: 0 0 0 20px;
	color: #8b8b8b;
	background: url(../images/submenu_row.gif) center left no-repeat;
	text-decoration: none;
}

#leftcolumn ul.menu li.parent ul li a:hover {
	text-decoration: underline;
}

/*SUBMENU POSITION*/
#leftcolumn ul.menu li#current ul {
	margin: 0;
	padding: 0;
}

#leftcolumn ul.menu li#current ul li {
	margin: 0;
	padding: 0;
}

/*CURRENT SUBMENU POSITION*/
#leftcolumn ul.menu li ul {
	margin: 0;
	padding: 0;
}

#leftcolumn ul.menu li#current ul li a:hover {
	text-decoration: underline;
}

#leftcolumn ul.menu li ul, #rightcolumn ul.menu li ul {
	list-style: none;
}

/* forms */
#leftcolumn .moduletable ul, #rightcolumn .moduletable ul {
	margin: 6px 0;
	padding: 0;
	list-style: none;
}

#leftcolumn .moduletable ul li, #rightcolumn .moduletable ul li {
	margin: 0;
	padding: 0 2px;
}

table.adminform textarea {
  width: 540px;
  height: 400px;
  font-size: 1em;
  color: #000099;
}

form#form-login fieldset { 
	border: 0 none; 
	margin-top: 0; 
	padding: 0;
	text-align: left;
}

form#form-login ul {
	padding: 0;
	list-style-position: inside;
	text-align: left;
	width: 160px;
	margin: 10px auto 15px;
}

form#form-login ul li { 
	padding: 0; 
}

form#form-login ul li a {
	text-align: left;
	padding: 0;
	font-size: 10px;
	color: #8e8e8e;
	text-decoration: none;
}

form#form-login ul li a:hover {
	text-decoration: underline;
}

/* thumbnails */
div.mosimage         {  margin: 5px; }
div.mosimage_caption {  font-size: .90em; color: #333; }

div.caption       { padding: 0 10px 0 10px; }
div.caption img   { border: 1px solid #CCC; }
div.caption p     { font-size: .90em; color: #333; text-align: center; }

/* Parameter Table */
table.paramlist {
	margin-top: 5px;
}

table.paramlist td.paramlist_key {
	width: 128px;
	text-align: left;
	height: 30px;
}

table.paramlist td.paramlist_value {
}

div.message {
	font-family: Tahoma, Arial, sans-serif;
	font-weight: 700;
	font-size : 14px;
	color : #c30;
	text-align: center;
	width: auto;
	background-color: #f9f9f9;
	border: solid 1px #d5d5d5;
	margin: 3px 0px 10px;
	padding: 3px 20px;
}

/* Banners module */

/* Default skyscraper style */
.bannergroup {
}

.banneritem {
}

/* Text advert style */

.banneritem_text {
	padding: 4px;
	font-size: 11px;
}

.bannerfooter_text {
	padding: 4px;
	font-size: 11px;
	text-align: right;
}

/* System Messages */
/* see system general.css */

.pagination span { padding: 2px; }
.pagination a    { padding: 2px; }

/* Polls */
.pollstableborder td {
	text-align: left;
}

/* Frontend Editing*/
fieldset {
	border: 1px solid #ccc;
	margin-top: 15px;
	padding: 4px;
}

legend {
	margin: 0;
	padding: 0 10px;
}

td.key {
	border-bottom:1px solid #eee;
	color: #333;
}

/* Tooltips */
.tool-tip {
	float: left;
	background: #ffc;
	border: 1px solid #D4D5AA;
	padding: 5px;
	max-width: 200px;
}

.tool-title {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font-weight: 700;
	margin-top: -15px;
	padding-top: 15px;
	padding-bottom: 5px;
	background: url(../../system/images/selector-arrow.png) no-repeat;
}

.tool-text {
	font-size: 100%;
	margin: 0;
}

/* System Standard Messages */
#system-message dd.message ul { 
	padding: 0;
	margin: 0;
	background: none;
	border: none;
}

/* System Error Messages */
#system-message dd.error ul { 
	color: #c00; 
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

/* System Notice Messages */
#system-message dd.notice ul { 
	color: #c00; 
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

#system-message dd {
	text-indent: 0;
}

#system-message dd ul {
	list-style-type: none;
	color: #c00; 
	background: none;
	border: none;
}

#system-message {
	margin-top: 5px;
}